*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body{
    background-color: rgb(255, 174, 214);
}

main{
    background-color: rgb(255, 206, 253);
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 6px 6px 0px rgb(253, 158, 255);
}